@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-base: #2a3bb7;
    /* --color-primary-base: #0b1739; */
    --color-primary-muted: #1d2535;
    --color-secondary-base: #929394;
    --color-info-base: #4d4d4d;
    --color-blue-base: #3c50e0;
    --color-info-muted: #a5a5a5;
    --color-warning-base: #e4a11b;
    --color-danger-base: #fb5454;
    --color-success-base: #10b981;
    --color-neutral-base: #eff4fb;
    --color-neutral-muted: #1d2535;
    --color-black-base: #8a99af;
    --color-black-solid: #000000;
    --color-black-muted: #8a99af;
  }
}

@layer base {
  .btn {
    @apply px-4 py-2 bg-gradient-to-r from-[#3953FC]  to-[#2A3BB7]   rounded-md  text-white cursor-pointer;
  }
}
